  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    background-color: #8f92a0;
    color: #1f1945;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace;
  }

  .container {
    display: block;
    background-color: #e0e0eb;
    max-width: 35vw;
    min-height: 50vh;
    margin: 10vh auto;
    padding: 2em;
    box-shadow: 2em 2em 2.5em rgba(0, 0, 0, .20);
    border-radius: 2em;
  }

  .hide {
    display: none;
    visibility: hidden;
  }

  .title {
    margin-bottom: 1em;
    text-align: center;
    transition: .4s all ease-in-out;
    border-radius: 2em;
    padding: .2em;
  }

  .title:hover {
    background-color: #1b144a;
    color: #fff;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  input {
    padding: 1em;
    margin: 1em 0;
    border: none;
    outline: none;
    border-radius: 2em;
    font-size: 1rem;
  }

  label,
  a {
    font-size: .8em;
    color: #1f1945;
  }

  #checkbox-form {
    padding: 1em;
    width: 1.2em;
    height: 1.2em;
  }

  .error-msg {
    display: inline-block;
    visibility: visible;
    color: #f80505;
    font-size: .8em;
    font-weight: 700;
  }

  /* Button */
  #form-submit {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5em;
    cursor: pointer;
    transition: .4s all ease-in-out;
  }

  #form-submit:hover {
    background-color: #24143c;
    color: #fff;
    box-shadow: .5em .5em .5em rgba(0, 0, 0, .20);
  }

